spring:
  datasource:
    url: jdbc:mysql://localhost:3306/resturantdb?useSSL=false&serverTimezone=UTC
    username: root
    password: YourPasswordHere
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
